:root{
    --orangeVet: #ff7222;    

}
body::before {
    display: block;
    content: '';
    height: 60px;
}

.link-media{
    text-decoration: none;
}
.doggy-svg{
    border-radius:60% 40% 60% 40%;
}
.brand-logo{
    border-radius:5% 20% 5% 20%;
    height: 75px;
}
.banner-img{
    width: 75vh;
}
.anchor{
    display: block;
    height: 115px; /*same height as header*/
    margin-top: -115px; /*same height as header*/
    visibility: hidden;
}
.bg-orange{
    background-color: var(--orangeVet);
}
.bg-white{
    background-color: rgb(226, 226, 226);
}
.bg-black{
    background-color: black;
}
.bg-grey{
    background-color: rgb(224, 224, 224);
}
.bg-softYellow{
    background-color: #ff9558;
}

.pet-Border{
    border: 10px dotted transparent;
    border-image-source: url(../img/fa-paw-solid.svg);
    border-image-repeat: repeat ;
    
}

.text-orange{
    color: var(--orange);
}
.text-shadow{
    text-shadow: 2px 2px rgb(0, 0, 0);
}
.text-shadow2{
    text-shadow: 3px 3px 4px white;
}
.text-shadow-soft{
    text-shadow: 2px 2px 3px rgb(54, 54, 54);
}
.text-shadow-no{
    text-shadow: none;
}

.store-carousel-item {
    height: 100%;
    padding: 1.5% 0.5% 0 0.5%;
    border-radius: 15px 15px 0 0;
    background-color: var(--orangeVet);
}
.col-md-3{
    padding-left: 3px;
    padding-right: 3px;
}

.bg-half-transparent{
    background-color: rgba(119, 119, 119, 0.294);
}


.store-link{
    position: absolute;
    left: 40%;
    
}
.store-title{
    padding-bottom: 10px;
}

.width-5{
    width: 5%;
    overflow: hidden;
}

.store-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-store{
    background-color:transparent;
    border: unset;
}

.store-carousel-control-prev{
    left: 1%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.store-carousel-control-next{
    right:1%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.store-carousel-inner .carousel-item.active,
.store-carousel-inner .carousel-item-next,
.store-carousel-inner .carousel-item-prev {
    display: flex;
}
.client-carousel-item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* XS */
.store-div{
    margin-bottom: 15px;
}
.client-img{
    margin: auto;
    width: 250px;
}
.showcase-img{
    border-radius:5% 5% 5% 5%;
}
#carouselClients{
    width: 100%;
    margin: auto;
    max-height: 600px;
    overflow: hidden;
}
#carouselShowcase{
    width: 100%;
    margin: auto;
    max-height: 600px;
    overflow: hidden;
}
.card-img-overlay{
    top: 50%;
    background-color: rgba(0, 0, 0, 0.452);
    padding: 0;
}
.card-img-overlay-lg{
    top: 60%;
    background-color: rgba(0, 0, 0, 0.452);
}
.carousel-reduced-title-margin{
    margin-bottom: 3px;
}
#reviews{
    display: initial;
}
.reviews-carousel{
    display: none;
}
#tele-modal-bg {
    background-repeat: no-repeat;
    background-size:50% 50% ;
    background-position: right;
    background-image: url("../img/undraw_doctors_hwty.svg");
    
}
#paw-ul li{
    list-style-image: url(../img/fa-paw-solid.svg);
    list-style-type: circle;
}
.client-name-center{
    position: absolute;
    top: 1%;
    left: 45%;
    background-color: rgba(0, 0, 0, 0.452);
}
.client-name-left{
    position: absolute;
    top: 1%;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.452);
}
@media (max-width: 767px) {
    .store-carousel-inner .store-carousel-item  > div {
        display: none;
    }
    .store-carousel-inner .store-carousel-item > div:first-child {
        display: block;
    }
    .store-link{        
        left: 10%;
    }
    #reviews{
        display: none;
    }
    .reviews-carousel{
        display: initial;
    }
}

@media(max-width: 480px){
    .map{
        height: 300px;
        width: 300px;
    }
    #tele-modal-bg {
        background-image: none;
        
    }
}

/* SM */
@media (min-width: 768px) {
    
    .store-carousel-inner .carousel-item-end.active,
    .store-carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }
    
    .store-carousel-inner .carousel-item-start.active, 
    .store-carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
    .mail-input {
        width: 50%;
    }
    .map{
        height: 500px;
        width: 650px;
    }

    .client-img{
        width: 300px;
    }
    #carouselClients{
        width: 66%;
        margin: auto;
    }
    .store-div{
        margin-bottom: 0;
    }
    #reviews{
        display: initial;
    }
    .reviews-carousel{
        display: none;
    }
    
    .clients{
        min-height: 600px;
    }
    .short-center{
        padding-top: 15%;
    }
    .client-name-left{
        position: absolute;
        top: 1%;
        left: 35%;
        background-color: rgba(0, 0, 0, 0.452);
    }
    .showcase-size{
        min-height: 650px;
    }
    .store-img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        max-width:160.317px;
        max-height:160.317px;
        width:auto;
        height:auto;
        border: 0;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
    }
    .store-img-container{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: inline-block;
        width: 160.317px;
        height: 160.317px;
        
        position: relative;
    }
    
}
/* MD */

/* LG */
@media (min-width: 1200px) {
    .client-img{
        width: 600px;
    }
    
    .card-img-overlay{
        top: 65%;
        background-color: rgba(0, 0, 0, 0.452);
        padding: 1rem;
    }
    #reviews{
        display: initial;
    }
    .reviews-carousel{
        display: none;
    }

    .store-img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        max-width:308.817px;
        max-height:308.817px;
        width:auto;
        height:auto;
        border: 0;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: auto;
    }
    .store-img-container{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: inline-block;
        width: 308.817px;
        height: 308.817px;
        
        position: relative;
    }
}


.store-carousel-inner .carousel-item-end,
.store-carousel-inner .carousel-item-start { 
    transform: translateX(0);
}

